
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #001f3f; /* Text color */
}

.login-container .title {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.login-container .login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.login-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form .login-btn-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-btn-div{
  display: flex;
}

.login-form .login-btn-div button {
  background-color: #007BFF; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form .login-btn-div button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

